body {
  width: 1400px;
  height: 770px;
  display: block;
}


h1 {
  border: 1px solid royalblue;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
}

#funcionamento {
  border: 1px solid red;
  text-align: center;
  margin-left: 40px;
}

main {
  border: 3px solid purple;
  display: flex;
  width: 900px;
  margin-left: 40px;
  align-items: flex-start;
}

#container-box-left {   border: 1px solid green;
  display: flex;
  height: 380px;
  width: 550px;
  margin: 0;
  padding: 0;
  flex-direction: column;
}


input {
  text-align: center;
  width: 400px;
  margin: 0;
}

#criar-tarefa {
  border: 1px solid olive;
  width: 100px;
}

#lista-tarefas {
  border: 1px solid orange;
}

#box-list {
  border: 10px solid purple;
  width: 250px;
  height: 150px;
}

#apaga-tudo {
  border: 1px solid cyan;
}

button {
  display: inline-block;
  width: 150px;
  height: 40px;
  border: 3px solid greenyellow;
  text-align: center;
  font-size: 12px;
}

.container-box-right {
  border: 1px solid red;
  width: 300px;
  height: 380px;
  display: flex;
}

aside {
  border: 1px solid yellow;
  float: right;
  width: 240px;
  height: 390px;
  margin-right: 200px;
  display: flex;

}

#box-button-right {
  display: block;
  margin: 45px;
}

.grayColor {
  background-color: gray;
}

.completed {
  text-decoration: line-through;
}

button:hover {
  cursor: pointer;
}
